.main-container {
    padding-left: 0.5%;
    padding-right: 0.5%;
}

.logo {
    text-align: center;
}

.logo img {
    width: 300px;
}

.address-box {
    background-color: black;
    color: white;
}

.address-box p {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 5%;
}

.navbar li {
    float: left;
    list-style: none;
}

.navbar a {
    padding-left: 20px;
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    color: red;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar img {
    padding-right: 20%;
}

.background {
    margin-top: 1%;
    background-image: url('../images/bed-room.jpg');
    background-size: cover;
    height: 720px;
}

.background-content {
    display: flex;
    justify-content: center;
}

.background h1 {
    color: white;
    font-size: 300%;
    margin-top: 20%;
    margin-left: 15%;
}

.get-quote-form {
    width: 30%;
    height: 480px;
    background-color: white;
    margin-right: 5%;
    margin-top: 10%;
}

.get-quote-form {
    padding-left: 2%;
}

.line {
    border: 1px solid red;
    opacity: 0.7;
    width: 50px;
}

.name {
    margin-top: 20px;
}

.get-quote-form input {
    width: 228px;
    height: 25px;
}

.phone, .email {
    margin-top: 13px;
}

.get-quote-form select {
    width: 234px;
    height: 28px;
    margin-top: 13px;
}

.get-quote-form textarea {
    margin-top: 13px;
}

.get-quote-form button {
    background-color: red;
    color: white;
    border: none;
    margin-top: 13px;
    height: 30px;
    width: 80px;
    cursor: pointer;
    opacity: 0.7;
}

.submit-btn:hover{
    opacity: 0.8;
}

.about-us-section {
    display: flex;
    margin-top: 1%;
    background-color: aliceblue;
    height: 450px;
}

.about-us {
    margin-left: 12%;
}

.about-us-section img {
    width: 280px;
    height: 230px;
}

.commercial-design {
    width: 280px;
    height: 400px;
    background-color: white;
    text-align: center;
    margin-left: 5%;
}

.residental-design {
    width: 280px;
    height: 400px;
    background-color: white;
    text-align: center;
    margin-left: 5%;
    margin-right: 12%;
}

.read-more-btn {
    background-color: red;
    color: white;
    border: none;
    margin-top: 13px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    opacity: 0.7;
}

.read-more-btn:hover {
    opacity: 0.8;
}

.footer {
    margin-top: 1%;
    background-image: url('../images/footer.jpg');
    background-size: cover;
    height: 500px;
}