body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-container {
    padding-left: 0.5%;
    padding-right: 0.5%;
}

.logo {
    text-align: center;
}

.logo img {
    width: 300px;
}

.address-box {
    background-color: black;
    color: white;
}

#location-icon, #call-icon { 
    color: #C94839;
}

.address-box p {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10%;
    font-size: 14px;
}

#facebook {
    margin-left: 33%;
    cursor: pointer;
}

#icons {
    margin-left: 1%;
    cursor: pointer;
}

.navbar li {
    float: left;
    list-style: none;
}

.navbar a {
    padding-left: 20px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.navbar a:hover {
    color: red;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar img {
    padding-right: 20%;
}

.background {
    margin-top: 1%;
    background-image: url('../images/bed-room.jpeg');
    background-size: cover;
    height: 720px;
}

.background-content {
    display: flex;
    justify-content: center;
}

.background h1 {
    color: white;
    font-size: 280%;
    margin-top: 21%;
    margin-left: 16%;
}

.get-quote-form {
    width: 30%;
    height: 480px;
    background-color: white;
    margin-right: 9.5%;
    margin-top: 10%;
    padding-left: 2%;
}

.line {
    border: 1px solid red;
    opacity: 0.7;
    width: 50px;
}

.name {
    margin-top: 20px;
}

.get-quote-form input {
    width: 186px;
    height: 29px;
    padding-left: 10px;
    outline: none;
    border: #F0F0F0;
    background-color: #F0F0F0;
    font-size: 13px;
}

.phone, .email {
    margin-top: 13px;
}

.get-quote-form select {
    width: 198px;
    height: 30px;
    margin-top: 13px;
    padding-left: 10px;
    outline: none;
    border: #F0F0F0;
    background-color: #F0F0F0;
    font-size: 13px;
}

.get-quote-form textarea {
    margin-top: 13px;
    padding-left: 10px;
    outline: none;
    border: 2px solid #F0F0F0;
    background-color: #F0F0F0;
    font-size: 13px;
}

.input-container i {
    padding: 6.9px;
    color: white;
    background-color: #F0F0F0;
    text-align: center;
    min-width: 20px;
    margin-top: 13px;
}

#user-icon {
    margin-top: 20px;
}

.input-container {
    display: -ms-flexbox;
    display: flex;
}

.get-quote-form button {
    background-color: red;
    color: white;
    border: none;
    margin-top: 20px;
    height: 30px;
    width: 80px;
    cursor: pointer;
    opacity: 0.7;
}

.submit-btn:hover{
    opacity: 0.8;
}

.about-us-section {
    display: flex;
    background-color: #F4F4F4;
    height: 530px;
}

.about-us {
    margin-left: 10%;
    margin-top: 2.5%;
}

.about-us p {
    font-size: 14px;
}
.about-us-section img {
    width: 300px;
    height: 200px;
}

.commercial-design {
    width: 300px;
    height: 410px;
    background-color: white;
    text-align: center;
    margin-left: 5%;
    margin-top: 4%;
}

.commercial-design p {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 14px;
}

.residental-design {
    width: 300px;
    height: 410px;
    background-color: white;
    text-align: center;
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 4%;
}

.residental-design p {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 14px;
}

.read-more-btn {
    background-color: red;
    color: white;
    border: none;
    margin-top: 12px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    opacity: 0.7;
}

.read-more-btn:hover {
    opacity: 0.8;
}

.footer {
    background-image: url('../images/footer.jpg');
    background-size: cover;
    height: 520px;
    display: flex;
}

.our-services {
    color: white;
    margin-top: 9%;
    margin-left: 12%;
    margin-right: 1%;
    width: 500px;
}

.our-services p {
    font-size: 14px;
}

.other-services {
    color: white;
    display: flex;
    margin-top: 5%;
    margin-right: 12%;
}

.other-services p {
    font-size: 14px;
}

.design-planning {
    margin-top: 1%;
    margin-right: 2%;
    width: 300px;
}

.services-management {
    margin-top: 1%;
    width: 300px;
    margin-left: 1.5%;
}

.other-services img {
    width: 60px;
    cursor: pointer;
}

.other-services h4 {
    cursor: pointer;
    text-align: center;
}

.other-services p {
    text-align: center;
}

.design-planning img {
    margin-left: 40%;
}

.services-management img {
    margin-left: 40%;
}